<div class="container my-3">

    <form>
        <!-- no special characters -->
     
        <div class="mb-3">
            <input appGenericDir="prevent special characters" type="text" class="form-control" placeholder="First Name">
        </div>


        <!-- accept only characters -->

    
         <div class="mb-3">
            <input type="text" appGenericDir="accept only characters" class="form-control"  placeholder="Last Name">
        </div>
 
        <!-- restrict arabic characters -->
        <div class="mb-3">
            <input type="text" appGenericDir="restrict arabic characters" class="form-control" placeholder="userName">
        </div>

    </form>

</div>

